@media screen and (max-width: 1450px) {
  header {
    padding-bottom: 130px;
  }

}

@media screen and (max-width: 1300px) {
  header {
    padding-bottom: 100px;
  }
  header .logo {
    width: 400px;
    height: 224px;
    margin: 50px auto 0;
  }
  header .intro-text-wrapper {
    font-size: 1.7em;
    margin: 50px auto 0;
  }
}

@media screen and (max-width: 992px) {
  header .intro-text-wrapper {
    font-size: 1.5em;
  }
  .ss-style-doublediagonal::before {
	height: 125px;
	top: -30px;

}
.ss-style-doublediagonal::after {
	height: 75px;
	top: 75px;
}
.section-intro {
margin-bottom: 50px;
}
}
@media screen and (max-width: 800px) { 
.popup-wrapper {
width: 90%;
margin: 0 auto;
height: 500px;
padding: 20px;
} 
.popup-img {
  margin: 0 auto;
  bottom: -50px;
  z-index: 50;
  left: 0;
  height: 60px;
  width: 107px;
}
.popup-content-inner {
text-align: center;
}
.popup-wrapper h2 {
    font-size: 1.85em;
    margin-top: 30px;
	margin-bottom: 10px;
}
.key-code {
    font-size: 1.2em;
    padding: 20px;
    top: 20px;
}
.key-request-button-main a {
    font-size: 14px;
	  padding: 17px 20px;
	}
}
@media screen and (max-width: 768px) {

  header {
    padding-bottom: 80px;
  }

  header .top-bar-wrapper {
    font-size: 0.6em;
  }

  header .logo {
    width: 250px;
    height: 140px;
    margin: 50px auto 0;
  }

  header .countdown #clock {
    font-size: 1.8em;
  }


  .features-wrapper {
    margin-top: 50px;
  }

  .section-intro p {
    width: 100%;
  }
}
@media screen and (max-width: 667px) { 
.popup-wrapper {
width: 90%;
margin: 0 auto;
height: 570px;
padding: 20px;
} 
.popup-img {
  margin: 0 auto;
  bottom: -50px;
  z-index: 50;
  left: 0;
  height: 60px;
  width: 107px;
}
.popup-content-inner {
text-align: center;
}
.popup-wrapper h2 {
    font-size: 1.85em;
    margin-top: 30px;
	margin-bottom: 10px;
}
.key-digits {
width: 100%;
}
.key-code {
    font-size: 1.1em;
    padding: 20px;
    top: 20px;
	width: 100%;
	display: block;
	float: none;
	text-align: center;
}
.key-intro {
text-align: center;
}
.key-request-button-main {
top: 5px;
}
.key-request-button-main, .key-request-button-main a {
    width: 100%;
	float: none;
	text-align: center;
	}
	.fancy-button-style-2.request-button {
  background: #FFFF00;
   color: #151515;
   text-shadow: none;
    font-size: 1.2em;
	
}
}
@media screen and (max-width: 550px) {
  header {
    padding-bottom: 60px;
  }

  header .intro-text-wrapper {
    font-size: 1.4em;
  }

  header .countdown {
    width: 75%;
    margin-top: 70px;
  }

  header .countdown #clock {
    font-size: 1.4em !important;
  }

  .content-section {
    padding: 50px 0 20px 0;
  }
  .ss-style-doublediagonal::before {
	height: 40px;
	top: -50px;

}
.ss-style-doublediagonal::after {
	height: 45px;
	top: 55px;
}
  header .logo {
    width: 250px;
    height: 140px;
    margin: 30px auto 0;
  }
  
  .row-second {
    margin-top: 0 !important;
}
}

@media screen and (max-width: 450px) {
  header {
    padding-bottom: 40px;
  }

  header .intro-text-wrapper {
    font-size: 1.15em;
	width: 90%;
  }

  .fancy-button-style-1 {
    padding: 15px 15px;
    font-size: 13px;
  }

  header .countdown {
    margin-top: 40px;
  }

  header .countdown #clock {
    font-size: 1.3em !important;
  }

    .popup-wrapper {
width: 90%;
margin: 0 auto;
height: 620px;
padding: 20px;
} 
  .popup-wrapper h2 {
    font-size: 1.55em;
    margin-top: 30px;
	margin-bottom: 10px;
}
.fancy-button-style-2.request-button {

    font-size: 1.1em;
	
}
.section-column h3 {
    font-size: 1.7em;
    margin-bottom: 15px;
}
}

@media screen and (max-width: 400px) {
  header .intro-text-wrapper {
    font-size: 1.15em;
  }

  .logo-2 {
    width: 250px;
    height: 23px;
  }
}

@media screen and (max-width: 370px) {
    .popup-wrapper {
width: 90%;
margin: 0 auto;
height: 680px;
padding: 20px;
} 

  .fancy-button-style-1 {
    padding: 15px 15px;
    font-size: 13px;
    margin: 15px 0;
    width: 100%;
    display: block;
    text-align: center;
  }

  .fancy-button-style-1:last-child {
    margin-bottom: 0;
  }
}